---
import { Image, Picture } from "astro:assets";
import heroImg from "./assets/wind3.webp";
import CtaButton from "../../shared/CtaButton.astro";
import GradiantText from "../../shared/GradiantText.astro";
import SubTitle from "../../shared/SubTitle.astro";
import Title from "../../shared/Title.astro";
import LazyImage from "../../shared/LazyImage.astro";

const heroSection = {
  headline1: "Revitalizing",
  headline2: "Your Home,",
  headline3: "With Expertise",
  headline4: "Today!",
  subheading1: "Transform your home with our renovation services",
  subheading2: "and enhance the beauty of your facade",
  subheading3: "for years of lasting value.",
  buttonText: "Get Your Home Revamped Today!",
  backgroundImage: "hero-background-image.jpg",
};

export interface Props {
  className?: string;
}

const { className = "" } = Astro.props;
---

<section class={`relative ${className} w-full`} id="hero">
  <div class="w-full pt-16 md:pt-24 pb-16 md:pb-24">
    <div class="w-full grid grid-cols-1 md:grid-cols-2 items-center bg-base-100 dark:bg-base-dark-900">
      <!-- Contenido de texto -->
      <div class="flex flex-col items-center md:items-start text-center md:text-left px-6 md:px-12">
        <Title>
          {heroSection.headline1}
          <GradiantText>
            {` ${heroSection.headline2}`}
            <br class="hidden md:block" />
            {` ${heroSection.headline3}`}
          </GradiantText>
          {heroSection.headline4}
        </Title>
        <SubTitle className="mt-6 leading-7 md:leading-8 italic">
          {heroSection.subheading1}
          <br class="hidden md:block" />
          {heroSection.subheading2}
          <br class="hidden md:block" />
          {heroSection.subheading3}
        </SubTitle>
        <div class="pt-6">
          <CtaButton>{heroSection.buttonText}</CtaButton>
        </div>
      </div>
      <!-- Imagen -->
      <div class="flex justify-center md:justify-end mt-6 md:mt-0 px-6 md:px-0 relative">
        <div class="w-full max-w-md">
          <LazyImage
            src={heroImg}
            alt="A picture of a wind turbine."
            className="w-full h-auto object-cover rounded-lg"
          />
        </div>
        <!-- SVG decorativo -->
        <svg
          class="fill-base-100 dark:fill-base-dark-900 absolute top-0 left-0 h-full hidden md:block"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 500 400"
        >
          <path d="M0 0l0 400L100 0Z"></path>
        </svg>
      </div>
    </div>
  </div>
</section>
